pygame == 2.6.1
certifi == 2024.8.30
tkcalendar == 1.6.1
ngrok == 1.4.0
fastapi == 0.115.5
python-multipart == 0.0.17
uvicorn == 0.32.1
paho-mqtt == 2.1.0
google.generativeAI == 0.8.3
python-dotenv == 1.0.1